head, body {height: 100%;}
#formdiv {

	width: 200px;
	height: 100%;
	float: left;
	background: #303E73;
	color: #FFE5AA;
	font: verdana;
	box-shadow: 0px 8px 20px -6px #172557;
}

#form {
	height: 100%; 
	margin: 10px;
	width: 130px;
}

.inputs {
	width: 130px;
}
