{% extends "base.html" %}
{% block form %}
<!DOCTYPE html>
<html>
<head>

<link type="text/css" rel="stylesheet" href="/stylesheets/form.css" />

</head>
<body>
	<div id="formdiv">
		<br>
		<br>
		<form id="form" method="post">	
			<fieldset>
				<legend>Term begin/end</legend>
				<input class="inputs" type="date" name="begin_date" size="15" placeholder="First Day of Term" value="{{begin_date}}">
				<input class="inputs" type="date" name="end_date" value="{{end_date}}">
			</fieldset>
			<br>
			<fieldset>
				<legend>Non-instructional Days</legend>
				<input class="inputs" type="date" name="holiday1" value="{{holiday1}}">
				<input class="inputs" type="date" name="holiday2" value="{{holiday2}}">
				<input class="inputs" type="date" name="holiday3" value="{{holiday3}}">
				
				<label>Extended begin/end</label>
				<input class="inputs" type="date" name="holiday_begin" value="{{holiday_begin}}">
				<input class="inputs" type="date" name="holiday_end" value="{{holiday_end}}">
			</fieldset>
			<br>
			<fieldset>					
				<legend>Formatting</legend>
				<select class="inputs" name="schedule">
					<option value="a" {{selecta}}>A Day</option>
					<option value="b" {{selectb}}>B Day</option>
					<option value="c"{{selectc}}> Non-Alternating</option>
				</select>
					
				<select class="inputs" name="format">
					<option value="sidebyside.html" {{format1}}>Side by Side</option>
					<option value="table.html" {{format2}}>Table</option>
					<option value="plaintext.html" {{format3}}>Plain Text</option>
				</select>
				</fieldset>
			<br>
			<input type = "submit" style="width: 180px; background-color: #FFE5AA; height: 40px;">
			<div style="color: red"><b>{% print error_message %}<b></div>
		</form>
	</div>
</body>
</html>
{% endblock%}