<!DOCTYPE html>
<html>

<head>

	<link rel="stylesheet" href="/stylesheets/syllabus.css" />
	
</head>

<body>

	<div id="syllabus">
		
		<table align="center" style="width: 6.5in">
			
			<tr>
				
				<td align="center" colspan="2">
					
					<b><u><font size="14pt">[#] Six Weeks Black Syllabus<font> </b></u>
				
				</td>
			
			</tr>
		
		</td>
	
	<tr>
		
		<td valign="top">
			<br>
			
			<font class="week" size="12pt"><b>Week 1</b></font>
			<br>
			{%for i in black_syl[black_week_list[0]]%}
			<font size="5pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{%print  i %}</b>
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; assignment
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; assignment</font>
			<p>
			{%endfor%}
			
			<font class="week" size="12pt"><b>Week 2</b></font>
			<br>
			{%for i in black_syl[black_week_list[1]]%}
			<font size="5pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{%print  i %}</b>
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assignment
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assignment</font>
			<p>
			{%endfor%}
			
			
			<font class="week" size="12pt"><b>Week 3</b></font>
			<br>
			{%for i in black_syl[black_week_list[2]]%}
			<font size="5pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{%print  i %}</b>
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assignment
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assignment</font>
			<p>
			{%endfor%}
		
		</td>

		<td valign="top">
			<br>
			
			<font class="week" size="12pt"><b>Week 4</b></font>
			<br>
			{%for i in black_syl[black_week_list[3]]%}
			<font size="5pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{%print  i %}</b>
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assignment
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assignment</font>
			<p>
			{%endfor%}
			
			<font class="week" size="12pt"><b>Week 5</b></font>
			<br>
			{%for i in black_syl[black_week_list[4]]%}
			<font size="5pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{%print  i %}</b>
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assignment
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assignment</font>
			<p>
			{%endfor%}
			
			
			<font class="week" size="12pt"><b>Week 6</b></font>
			<br>
			{%for i in black_syl[black_week_list[5]]%}
			<font size="5pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{%print  i %}</b>
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assignment
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assignment</font>
			<p>
			{%endfor%}
		
		</td>
	
	</tr>

</table>
</div>
</body>
</html>
